@mixin orange-button {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%) !important;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.posts-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

    .post-card {
        box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(168, 164, 164, 0.15) 0px 18px 36px -18px inset;
        color: black;
        min-width: 90% !important;
        margin: 0.1rem 0;
        padding: 0 !important;
        position: relative;
        
        .post-card-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0.3rem !important;

            .post-card-image {
                margin-right: 0.9rem;
                width: 60px;
                height: 60px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                cursor: pointer;
            }
            .card-title {
                font-size: 1rem;
                font-weight: 600;
            }

            .card-text {
                min-width: 100%;
                font-size: 0.8rem;
                font-weight: 500;
                cursor: pointer;
            }

            .heart {
                margin: 0.3rem 1rem 0 0.5rem;
                cursor: pointer;
            }

            .comments {
                margin: 0.3rem 0rem 0 0.5rem;
            }

            .lol {
                margin: 0.3rem 0.5rem 0 0;
                cursor: pointer;
            }

            .post-icon-wrapper {
                position: absolute;
                top: 5px;
                right: 0;
                display: flex;
                flex-direction: column;
                margin: 0 0.5rem 0 0.5rem;

                .post-card-numbers > * {
                    margin: 0.3rem 0.9rem 0 0.9rem;
                    font-size: 0.8rem
                }
            }          
        }    
    }    
}

.post-modal {
    .btn-orange {
        @include orange-button;
    }

    .btn-orange:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
      
      .btn-orange:active {
        transform: scale(0.95);
      }
}

@media screen and (min-width: 280px) and (max-width: 900px) {

    .posts-wrapper {
        margin-top: 30px;

        .post-card {
            width: 100% !important;
          
            .post-username{
                width: 160px !important;
        }

            
        }
    }
}