.component-notification {
	height: 100% ;
	color: black;
	box-shadow: 5px -5px 10px -1px #111111;
	
	.notification-image {
		width: 64px ;
		height: 64px;
		border: 1px inset #888 ;
	}

	.notification-image img {
		width: 100%;
		height: 100%;
		vertical-align: unset;
	}
}