
@mixin orange-button {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%) !important;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.search-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .btn-orange {
        @include orange-button;
        margin: 10px;
    }

    .btn-orange:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
      
    .btn-orange:active {
        transform: scale(0.95);
    }

    .recipe-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .recipe-card {
            width: 150px !important;
            min-height: 100px;
            border: 1px solid black;
            margin: 20px;
            color: black;
            justify-content: center;

            &:hover {
                cursor: pointer;
                background-color: aquamarine;
                transform: translateY(-10px);
                transform: translateY(5px);
            }

            .card-body {
                padding: 5px !important;

            }
            .card-text {
                text-align: center;
            }

            .card-title {
                text-align: center;
                font-size: 1rem;
                font-weight: bold;
            }
        }    
    }
}
.search-one {
    height: fit-content;
    margin-top: 50px;
}

.modal-content {
    background-color: #212529 !important;
    color: white !important;
    
    .row {
        column-gap: 2rem;
        padding: 1.5rem;
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;     
    }

    .img-modal-recipe {
        width: 100%;
        height: auto;
    }

    .img-ingredient {
        height: min(50px, 5vw);
        width: auto;
    }

    .ingredient-wrapper {
        padding: 10px 0 0 0;
        width: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        row-gap: 0.5rem;
        margin-bottom: 1.5rem;

        &:hover {
            background-color: rgb(127, 255, 212, 0.5);
            transform: translateY(-10px);
            transform: translateY(5px);
        }
    }

    
}

@media screen and (max-width: 998px) {
    .modal-content {
        .row {
            .ingredients {
                order: 2;
            }

            .ingredient-wrapper {
                width: 100%;
                row-gap: 1rem;

                .img-ingredient {
                    width: 200px;
                    height: auto;
                }
            }

            img {
                width: 300px;
                height: auto;
                padding: 1rem;
            }  
        }
    }
}
    


