
.search-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .recipe-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .recipe-card {
            width: 150px !important;
            height: 250px;
            border: 1px solid black;
            margin: 20px;


        }
    }

}

