.card-container {
  background: #212529;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container .card {
  margin: 10px;
}

.card-body {
  text-align: center;
}

.card {
  text-transform: capitalize;
  color: #212529;
}

.card:hover {
  background-color: aquamarine;
  transform: translateY(-10px);
  transform: translateY(5px);
}

.logo {
  width: 40px;
  height: 40px;
}

.load-more {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more-btn {
  background-color: transparent;
  margin-top: 20px;
  border: none;
}

.load-more-btn:hover {
  color: black;
  background-color: aquamarine;
  transform: translateY(-10px);
  transform: translateY(5px);
}

.scroll-to-top-btn {
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  animation: bounce 1s ease-in-out infinite;
  border-radius: 20%;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.top {
  width: 50px;
  height: 60px;
  border-radius: 20%;
}

.top:hover {
  background-color: aquamarine;
  transform: translateY(-10px);
  transform: translateY(5px);
}
