.comment-card {
    color: black;
    min-width: 80% !important;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 0.2rem;
    
    
    .comment-body {
        padding: 0.7rem;
        width: 80%;

        p{
            font-size: 0.9rem !important;
        }
    }

    .username {
        font-weight: bolder;
    }

    .time {
        position: absolute;
        right: 85px;
        top: 20px;
        font-weight: bolder;
        font-size: 0.9rem;
    }
    
    .date {
        position: absolute;
        right: 20px;
        top: 20px;
        font-weight: bolder;
        font-size: 0.9rem;
    }

    .comment-card-image {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    
    }   
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    .comment-card {
        width: 100% !important;
        
        .date {
            top: 5px;
            right: 10px;
            font-size: 0.8rem;
        }

        .time {
            top: 5px;
            right: 70px;
            font-size: 0.8rem;
        }
    }
}
