@mixin flex-center ($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin orange-button {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%) !important;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.post-page-container {
    @include flex-center;

    .post-page-left-panel {
        min-height: 100vh;
        margin-top: 30px;

        .card {
            color: black;
            width: 100% !important;
            position:relative;
            border: none;

            .add-comment {
                min-height: 100px;
                max-width: 100%;
                border: 1px solid #ced4da;
                margin: 5px;

                .comment-input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    resize: none;
                    padding: 5px;
                    overflow-wrap: break-word;
                }
            }

            .bottom-wrapper {
                @include flex-center();
                margin: 5px;

                .btn-orange {
                    @include orange-button;
                    
                }
            
                .btn-orange:hover {
                    background-position: right center;
                    /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                  }
                  
                  .btn-orange:active {
                    transform: scale(0.95);
                  }
            }
            
            .card-body {
                padding: 0 !important;
                padding-bottom: 10px !important;

                .card-title {
                    margin: 5px;
                    padding: 5px;
                }

                .card-text {
                    padding: 5px;
                    margin: 5px;

                    .post-page-user-image {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50%;
                        cursor: pointer;
                        margin-right: 10px;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    }

                    .username {
                        position: absolute;
                        font-weight: bolder;
                        left: 80px;
                        top: 30px;
                    }
                    
                    .time {
                        position: absolute;
                        right: 100px;
                        top: 30px;
                        font-weight: bolder;
                    }
                    
                    .date {
                        position: absolute;
                        right: 20px;
                        top: 30px;
                        font-weight: bolder;
                    }
                }

                .post-page-icons {

                    .heart {
                        cursor: pointer;
                    }

                    .lol {
                        cursor: pointer;
                    }

                    margin-left: 20px !important;
                    margin-right: 10px !important;

                    * {
                        margin: 0 5px 0 5px;
                    }
                }
                          
                .card-img-top {
                    width: 100% !important;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .post-page-right-panel {
        min-height: 100vh;
    }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    .post-page-container {
        .post-page-left-panel {
            .card {
                width: 100% !important;
                .card-body {
                    .card-text {
                        .username {
                            margin-right: 80px !important;
                        }

                        .time {
                            top: 5px;
                            right: 70px;
                            font-size: 0.8rem;
                        }

                        .date {
                            top: 5px;
                            right: 10px;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}