.page-user-profile {
	color: #eee;

	.user-profile {
		max-width: 1140px;
		margin: auto;
	}
	
	.user-profile-tab-link {
		cursor: pointer; 
		img {
			width: 64px ;
		}
	}

	.image-upload-container-outer {
		margin: auto;
		width: 280px;
		padding: 16px;
		border: 1px solid #ccc ;
		border-radius: 8px ;
	}

	.form-label {
		font-weight: bold ;
	}

	.user-profile-weight-goal {
		width: 50%;
		min-width:300px;
		margin:auto;
	}
}