@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway+Dots&family=Raleway:wght@200;300;400&family=Rubik+Pixels&family=Sacramento&family=Special+Elite&display=swap');

.page-user-profile {
	color: #eee;

	h1 {
		font-family: 'Raleway Dots', cursive;
	}

	.user-profile {
		max-width: 1140px;
		margin: auto;
	}
	
	.user-profile-tab-link {
		cursor: pointer; 
		img {
			width: 64px ;
		}
	}

	.image-upload-container-outer {
		margin: auto;
		width: 280px;
		padding: 16px;
		border: 1px solid #ccc ;
		border-radius: 8px ;
	}

	.form-label {
		font-weight: bold ;
	}

	.user-profile-weight-goal {
		width: 50%;
		min-width:300px;
		margin:auto;
	}
}