/* Container for body-content (between header and footer) */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: raleway, sans-serif;
	font-size: large;
}


.my-container {
	min-height: max(100vh, 800px);
	padding: 0;
	margin: 0;
	min-width: 100vw;
	/* max-width: 1550px; */
	/* Ensure footer is far enough down if the rest of the content takes up insufficient vertical space */
	background-color: #212529;
	color: #fff;
}

.main-container {
	min-height: 100vh;
	padding-top: 30px;
}