* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: raleway, sans-serif;
	font-size: large;
}

body {
	background-color: #212529;
}

/* Container for body-content (between header and footer) */
.my-container {
	min-height: max(100vh, 800px);
	padding-top: 30px;
	padding-left: 8px;
	padding-right: 8px;
	color: #fff;
}

.my-link-pointer {
	cursor: pointer;
}